---
import Button from "@components/Button/Button.astro";
---

<div class="relative h-screen text-white overflow-hidden">
	<div class="absolute inset-0">
	  <img src="https://res.cloudinary.com/di4d4tjhr/image/upload/t_Banner 16:9/v1745906095/hero_qwophn.jpg" alt="Background Image" class="object-cover object-center w-full h-full" />
	  <div class="absolute inset-0"></div>
	</div>
	
	<div class="relative z-10 flex flex-col justify-center items-center h-full text-center mx-auto max-w-4xl max-md:px-4">
	  <h1 class="text-5xl font-bold leading-tight mb-4 text-gray-950">¡Bienvenido a
		<span class="main-text-gradient"> ConstFit</span>!</h1>
	  <p class="text-lg text-gray-800 mb-8  max-w-3xl">Donde el fitness y la nutrición se unen para transformar tu rutina . Con planes basados en ciencia y el apoyo de expertos, convierte tus objetivos en resultados. ¡Sube de nivel y descubre tu potencial máximo!</p>
	  <!-- <Button
	  variant="primary"
	  href="https://cosmicthemes.com/themes/blogsmith-pro/"
	  class="mx-auto"
		>
			Check out Blogsmith Pro
	  </Button> -->
	</div>
  </div>
